*{padding: 0;margin:0; box-sizing: border-box;font-family: Verdana, Geneva, Tahoma, sans-serif;}
a{text-decoration: none;}
li{list-style: none;}

body{background-color: #F6F6F6;}

header{background-color:#0F195B;color: #fff;}

.container-header{max-width: 80%;display: flex;margin: 0 auto;padding: 40px 0px;align-items: center;}

.container-header nav ul {display: flex;}

.container-header nav ul li {padding-left: 50px;}

.container-header nav ul li a{font-size: 15px;color: #fff;padding-left: 5px;}

.container-header nav ul li a:hover{
    color:#FC00A8;transition: 1s;
}


@media(max-width:750px){
.logo{margin:0 auto;}
.menu-desk{display: none;}
}
/*main*/


main{background-image: url('../img/backtop.png');height: 75vh;background-size: cover;}

.hero{padding-top: 40px;max-width: 80%;margin: 0 auto;}

.frente h3{text-transform: uppercase;color: #fff;background-color: #FC00A8;padding: 10px;max-width: 40%;font-size: 20px;font-weight: 300;}

.frente h2{font-size: 45px;text-transform: uppercase;color: #fff;}

.frente p{font-size: 18px;color: #fff;padding-bottom: 20px;}

.frente span{font-size: 25px;color: #fff;padding-right: 20px;margin-left: 50px;}

.frente .sh h2{font-size: 80px;}

.frente a{background-color: #850058;padding: 10px 20px 10px 20px;color:#ffffff;}

.frente a img{padding-left: 20px;}
.frente a:hover{background-color: #FC00A8;transition: 2s;}
.sh{display: flex;}


@media(max-width:750px){
    .frente h3{font-size:18px;max-width: 70%;}
    .frente h2{font-size: 25px;padding-top: 10px;}
    .frente span{margin-left: 0px;}
    .frente .sh h2{font-size: 80px;}}

/*pacote*/

.container-pacotes{max-width: 80%;margin: 50px auto;}

.subtitulo{display: flex;align-items: center;padding: 50px 0px;}

.subtitulo h2{font-size: 35px;color:#756C6C;padding-left: 10px;}

.container-boxes{display: flex;justify-content: space-between;flex-wrap: wrap;margin-right: 20px;align-items: center;}

.box{box-shadow:2px 1px 1px rgba(20, 20, 20, 0.20);
padding-bottom: 30px;
background-color: rgb(255, 255, 255);margin-right: 20px;margin-bottom: 20px;}

.box .diaria{display: flex;margin-bottom: 20px;align-items: flex-end;}

.box .diaria p{font-size: 15px;padding-right: 5px;}

.box .box-texto{margin-left: 20px;}

.box .box-texto h3{padding-top: 10px;font-size: 20px;}

.box a{padding: 8px 40px;margin-left: 40px;
background-color: #FC00A8;
color: #fff; align-items: center;
font-size: 18px;
margin-bottom: 20px;}

.box a:hover{background-color: #756C6C;transition: 1s;}

@media(max-width:750px){
    .box .box-texto h3{font-size: 18px;}
    .box .diaria p{font-size: 12px;}
}

/*PASSEIOS*/
#passeios{max-width: 80%;margin:0 auto;}

.container-passeios{
    background-image: url('../img/backgroundLogo.png');height: 60vh;
    box-shadow:2px 1px 1px rgba(20, 20, 20, 0.20);
    margin: 0 auto;margin-bottom: 50px;}

.passeios-boxes{max-width: 80%;
margin: 0 auto;padding-top:70px;}

.passeios-boxes img {max-width: 200px;}

.passeios-boxes img:hover{transform: translateY(-10px);transition: 1s;}

@media(max-width:800px){
    
.passeios-boxes{max-width: 90%;padding-top:40px;}
.passeios-boxes img {max-width: 150px;margin-left: 10px;}
.container-passeios{height: 70vh;}
}


/*NEWLETTER*/

.container-newslater{background-color:#0F195B;width: 80%;height: 200px;margin: 0 auto;}

.container-newslater form{max-width: 70%;padding-top:75px;text-align: center;display: flex
    ;margin: 0 auto;align-items: center;}

.container-newslater h3{color: #fff;font-weight: 300;}

.container-newslater input[type="text"]{padding: 10px 70px;margin: 0 auto;}

.container-newslater input[type="submit"]{padding: 10px 50px;background-color:#FC00A8 ;
border: none;color:#fff;font-size: 18px;}

.container-newslater input[type="submit"]:hover{background-color:#756C6C;transition: 2s;}


@media(max-width:750px){
    .container-newslater form{flex-direction: column;padding-top:30px;}
    .container-newslater h3{padding-bottom: 10px;}
    .container-newslater input[type="text"]{max-width: 100%;margin-bottom: 20px;}
}

/*PROMOÇÃO*/

.container-promocao{max-width: 80%;margin: 50px auto;}

.promocao-box{padding: 20px; background-color:#fff ;width: 100%;display: flex;align-items: center   ;}

.tela img{width: 350px;padding-right: 25px;}

.tela2{width: 60%;text-align: center;}

.tela2 h3,h5{text-align: left;}

.tela2 p{padding: 30px 0px 30px 0px; background-color:#fff ;width: 100%;text-align: left;}

.tela2 a{padding: 8px 40px;margin-left: 40px;
    background-color: #FC00A8;
    color: #fff;
    font-size: 18px;text-align: center;
    margin-bottom: 20px;}

@media(max-width:950px){
.container-promocao{max-width: 90%;}
.promocao-box{flex-direction: column;}
.tela2 p{text-align: center;}
.tela2 a{margin-left: 5px;}
    }
/*contato*/

.container-contato{max-width: 80%;
    margin: 50px auto;}
.mpas-container{display: flex;justify-content: space-between;align-items: center;}
.mpas-container form{display: flex;flex-direction: column;width: 40%;}
.mpas-container input{padding: 15px 20px;margin-bottom: 20px;border-radius: 10px;border: 2px solid #756C6C;}
.mpas-container input[type='submit']{
    background-color: #FC00A8;font-size: 18px;color: #fff;
}
.mpas-container input[type='submit']:hover{
    background-color: #850058;font-size: 18px;color: #fff;
}
.mpas-container textarea{padding: 15px ;width: 100%;margin-bottom: 20px;border-radius: 10px;border: 2px solid #756C6C;}


@media(max-width:750px){
    .mpas-container{flex-direction: column;} 
    .mpas-container form{width: 100%;}
    .mpas-container iframe{width: 100%;}
}
/*footer*/

.container-footer{background-color: #0F195B;color: #fff;padding:50px 100px;max-width: 80%;margin: 0 auto;display: flex;justify-content: space-between;align-items:flex-start; position: relative; top:30px;}

.container-footer a{text-decoration: none;color: #fff;padding-bottom: 15px;font-weight: 400;}

.container-footer a:hover{color:#FC00A8;}

.container-footer h4{padding-bottom: 20px;padding-top: 15px;}

.copy{width: 100%; background-color: #756C6C;color: #fff;padding: 40px 0px;text-align: center;}

.copy p{padding-top: 20px;font-size: 12px;}

@media(max-width:750px){
    .container-footer{flex-direction: column;text-align: center;}
}